@import './../AppContainer/variables.scss';

.wrapper {
  margin-top: 20px;
}

.header {
  display: flex;

  &Item {
    display: inline-block;
    font-family: Circe;
    font-size: 1.8rem;
    line-height: 1.2;

    &:nth-last-child(n+2) {
      margin-right: 1rem;
    }
  }

  &Select {
    font-family: inherit;
    font-size: 1.6rem;
  }

  @media (max-width: $bp-tablet) {
    flex-direction: column;

    &Item + &Item {
      margin-top: 2rem;
    }
  }
}