{
  "presets": [
    [
      "env",
      {
        "targets": { "browsers": ["last 3 versions", "ie 11"] }
      }
    ],
    "stage-1",
    "react",
    "flow"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "lib": "./src/lib",
          "components": "./src/components",
          "containers": "./src/containers",
          "pages": "./src/pages"
        }
      }
    ],
    "lodash",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }],
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
