@import './../AppContainer/variables.scss';
$color-blue: #1a8fac;
$color-grey: #aaaaaa;
$color-green: #1bb198;

.wrapper {
  padding: 2rem;
  box-sizing: border-box;
}

.entriesCountPhrase {
  font-family: Circe;
  font-size: 1.8rem;
  line-height: 1.2;
}

.entriesCountList {
  font-family: Circe;
  font-size: 1.6rem;
}

.table {
  position: relative;
  border-collapse: collapse;
  min-width: 970px;
  width: 100%;
  color: $color-blue;

  &Wrapper {
    position: relative;
    width: 100%;
    overflow: auto;
  }
}

.head {
  font-family: Circe;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
}

.sortButton {
  width: 100%;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-align: left;
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: transparentize($color-blue, 0.75);
  }
}

.body {
  font-family: Circe;
  font-size: 1.6rem;
  text-align: left;
}

.row {
  border-bottom: 1px solid $color-grey;

  &:nth-child(odd) {
    background-color: #f9f9f9;
  }

  &:nth-last-child(3) {
    border-bottom: none;
  }

  &Result {
    font-weight: bold;
    background-color: transparentize($color-blue, 0.75);
    border-top: 1px solid #000000;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  @media (max-width: $bp-tablet) {
    display: flex;
    flex-direction: column;
  }
}

.fromToEntries {
  font-family: Circe;
  font-size: 1.6rem;
}

.selectPage {
  font-family: Circe;
  font-size: 1.6rem;
  font-weight: bold;

  &Text {
    margin-right: 1rem;
    color: $color-blue;
    composes: selectPage;
  }

  &Field {
    width: 50px;
    padding: 0.25rem 0.5rem;
    border: 2px solid $color-grey;
    composes: selectPage;
  }
}

.pagination {
  display: flex;

  @media (max-width: $bp-phone) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }
}

.pageNumber {
  width: 2em;
  height: 2em;
  margin: 0 0.25em;
  font-family: Circe;
  font-size: 1.6rem;
  line-height: 2;
  color: $color-green;
  text-align: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease;

  &Active,
  &:hover {
    color: #ffffff;
    background-color: $color-green;
  }

  &Active {
    composes: pageNumber;
  }

  &Ellipsis {
    width: 2em;
    height: 2em;
    margin: 0 0.25em;
    font-family: Circe;
    font-size: 1.6rem;
    line-height: 2;
    color: #000000;
    text-align: center;
  }

  &Prev,
  &Next {
    height: 2em;
    font-family: Circe;
    font-size: 1.6rem;
    line-height: 2;
    color: $color-green;
    background-color: transparent;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease;

    &:hover:not(:disabled) {
      color: #ffffff;
      background-color: $color-green;
    }

    &:disabled {
      color: #000000;
      cursor: default;
    }
  }

  @media (max-width: $bp-phone) {
    order: 1;

    &Ellipsis {
      order: 1;
    }

    &Prev,
    &Next {
      order: 0;
      width: 50%;
    }
  }
}